img {
  height: 150px;
  justify-items: center;
}

.fa-times {
  height: 100px;
}

.formContainer {
  max-width: 400px;
  padding: 20px;
  background-color: bisque;
}
.formContainer input[type=text] {
  width: 100%;
  padding: 10px;
  border: none;
  background: #eee;
}
.formContainer input[type=text]:focus {
  background-color: #fff;
  outline: none;
}